<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="icon" href="{% static 'images/axin.jpg' %}" >
    <title>{% block title %}{% endblock %}</title>
    {% block link %}
    {% endblock %}
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Charmonman:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <ul class="menubar__navibar">
            <li><a href="{% url 'theblog:home' %}">Cu Xin Shop</a></li>
            <li><a href="{% url 'theblog:list_article_with_tag' 'chuyendemtrua' %}">Chuyện đêm trưa</a></li>
            <li><a href="{% url 'theblog:list_article_with_tag' 'thoidihoc' %}">Thời đi học</a></li>
            <li><a href="{% url 'theblog:list_article_with_tag' 'chuyencoding' %}">Chuyện Coding</a></li>
            <li><a href="{% url 'theblog:list_article_with_tag' 'tuky' %}">Tự kỷ</a></li>
            <li><a href="{% url 'theblog:list_article' %}">Tất cả</a></li>
            <li><a href="{% url 'theblog:list_tag' %}">Tags</a></li>
        </ul>
    </header>
    {% block main %}

    {% endblock %}
    <footer>
        <div class="copyright">
            <p>Cu Xin © 2020</p>
            bản quyền thuộc về Xin <span class="copyright__line">và những người bạn</span>
        </div>
    </footer>
{% block script %}
{% endblock %}
</body>

</html>