{% extends "base_view_list_article.html" %}

{% block title %}
All
{% endblock%}

{% block main %}
<section class="header">
        <div class="header__tag">
            <p>#all</p>
        </div>
        <div class="header__title">
            <h1>All</h1>
        </div>
</section>
    <section class="list-article-with-tag">
        {% for article in articles %}
        <div class="article">
                <div class="article__content">
                    <div class="article__tag">
                        <ul>
                        {% for tag in article.tags.all %}
                            <li><a href="{% url 'theblog:detail_tag' tag.tag_name %}">#{{tag.tag_name}}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                    <div class="article__title-article">
                        <p>{{ article.title }} | {{ article.pub_date|date:'d - m - Y' }}</p>
                    </div>
                    <div class="article__descrip">
                        <p>{{ article.content|striptags|safe|truncatewords:20 }}</p>
                    </div>
                    <div class="article__button-seemore">
                        <a href="{% url 'theblog:detail_article' article.slug %}" class="button-seemore">Nhấm nháp thêm</a>
                    </div>
                </div>
        </div>
        {% endfor %}
    </section>
{% endblock %}
